@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'poppins'
}

#wrapper {
    min-height: 100%;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

#site_heading {
    margin: 10px;
    text-align: center;
    color: #324;
    font-size: 30px;
}

#popup {
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100vh;
    left: 0;
    transition: 0.15s linear;
}

#popup.active {
    top: 0;
}

#popup>div {
    box-shadow: 2px 2px 20px #262626;
    border-radius: 10px;
    overflow: hidden;
    max-width: 540px;
    max-height: calc(100vh - 40px);
    width: calc(100% - 20px);
    margin: 20px auto;
    background-color: #fff;
}

#popup form>div {
    padding: 0 20px;
}

#popup form>div.strip {
    height: 50px;
    display: flex;
}

#popup form #popup_header {
    line-height: 50px;
    background: #218aff;
    justify-content: space-between;
    color: #fff;
    padding-right: 0;
}

#popup form #popup_header h2 {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
}

#popup form #popup_header .close {
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
    transition: 0.15s linear;

}

#popup form #popup_header .close:hover {
    background-color: #efefef;
    color: #218aff;
}

#popup_body {
    padding: 10px 0;
    max-height: calc(100vh - 140px);
    overflow: auto;
}

#popup_body .form-field {
    height: 40px;
    margin: 10px 0;
    display: flex;
    line-height: 40px;
}

#popup_body .form-field label {
    width: 40%;
    font-size: 15px;
}

#popup_body .form-field input {
    width: 60%;
    border-radius: 6px;
    border: 1px solid #979797;
    outline: none;
    padding: 0 10px;
    font-size: 15px;
}

#popup_body .form-field input:invalid {
    border-color: #f05d78;
    box-shadow: 0;
}

#popup_body .msg {
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color: #fc8585;
}

.btn-group button {
    height: 40px;
    padding: 0 10px;
    border-radius: 7px;
    border: 0;
    outline: 0;
    line-height: 40px;
    cursor: pointer;
    background: var(--bg, #218aff);
    color: var(--text-color, #fff);
    font-size: 15px;
    font-weight: bold;
}

.btn-group button:hover {
    color: var(--bg, #218aff);
    background: var(--text-color, #cecece);
}

#popup_footer {
    border-top: 1px solid #979797;
}

#popup_footer .btn-group {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#popup_footer .btn-group .close {
    --bg: #ff4d4d;
    --text-color: #e9e9e9;
}

#popup_footer .btn-group .save {
    --bg: #22e2e2;
    --text-color: #e9e9e9;
}

.row {
    text-align: center;
}

#open-popup {
    border: 3px solid #2180ff;
    background-color: #218aff;
    color: #fff;
    display: inline-block;
    margin: 30px auto;
    padding: 0 5px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

#records {
    overflow: auto;
    max-width: 1280px;
}

table {
    border: 1px solid #979797;
    min-width: 100%;
    width: max-content;
    font-size: 15px;
    border-spacing: 0;
    text-align: center;
}

table thead {
    background: #cccccc;
}

table tr {
    height: 40px;
}

table th {
    font-weight: 600;
    white-space: nowrap;
    padding: 0 15px;
    margin: 0;
}

table tbody tr:nth-child(2n) {
    background: #e6e5e5;
}

table td {
    padding: 0 15px;
    min-width: 100px;
    max-width: 300px;
}

table #error {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0;
    color: #d1cccc;
}

@media screen and (max-width: 500px) {
    #popup_body .form-field {
        flex-direction: column;
        height: auto;
        line-height: 30px;
    }

    #popup_body .form-field+.form-field {
        margin-top: 10px;
    }

    #popup_body .form-field label {
        width: 100%;
    }

    #popup_body .form-field input {
        height: 30px;
        width: 100%;
        box-sizing: border-box;
    }
}